[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = v3_req

[req_distinguished_name]
CN={{ cert_common_name }}
O={{ cert_organization_name }}
L={{ cert_locality_name }}
ST={{ cert_province_name }}
C={{ cert_country_name }}
emailAddress={{ cert_email_address }}

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
{% set dns_names = cert_dns_names.split(',') %}
{% set ip_addresses = cert_ip_addresses.split(',') %}
{% for dns_name in dns_names %}
DNS.{{ loop.index }} = {{ dns_name }}
{% endfor %}
{% for ip_address in ip_addresses %}
IP.{{ loop.index + dns_names|length }} = {{ ip_address }}
{% endfor %}
